@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');
@charset "utf-8";
body {
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif
}
#container {
	margin-left: auto;
	margin-right: auto;
	width: 1024px;
	height: auto;
	background-color: #FFFFFF;
	}
#header {
	width: 1024px;
	background-color: #CCCCCC;
	}

#maintext {
	width: 980px;
	font-size: large;
	margin-left: auto;
	margin-right: auto;
	background-color: #FFFFFF;
	text-align: justify;
	
	}


#navigation {
	width: 1024px;
	height: 40px;
	font-size: x-large;
	text-align: center;
	background-color: #CCCCCC;
	
}

#image {
	margin-left: auto;
	margin-right: auto;
	width: 980px;
	text-align: center;
}
